@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Kanit;
  src: url("./assets/fonts/Kanit-Regular.ttf");
}

@import "tailwindcss";

@theme{
  --font-poppins: Poppins, Kanit
}

html, body {
  height: 100%;
}

/* Chrome, Edge, Safari */
input[type="number"].no-spinner::-webkit-inner-spin-button,
input[type="number"].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type="number"].no-spinner {
  -moz-appearance: textfield !important;
}
